In [6]:
import pandas as pd
import numpy as np

filepath = "individual+household+electric+power+consumption/household_power_consumption.txt"

Завантаження даних

Pandas

In [7]:
dfp = pd.read_csv(filepath, sep=';', na_values='?', parse_dates=['Date'])

dfp['Time'] = pd.to_datetime(dfp['Time'], format='%H:%M:%S').dt.time
dfp["Global_active_power"].astype(float)
dfp["Voltage"].astype(float)
dfp["Global_intensity"].astype(float)
dfp["Sub_metering_1"].astype(float)
dfp["Sub_metering_2"].astype(float)
dfp["Sub_metering_3"].astype(float)

dfp.dropna(inplace=True)
dfp.head()

C:\Users\someone\AppData\Local\Temp\ipykernel_1124\3488870541.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dfp = pd.read_csv(filepath, sep=';', na_values='?', parse_dates=['Date'])

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

NumPy

In [33]:
types = [("Date", "U10"), ("Time", "U8"), ("Global_active_power",
"float64"), ("Global_reactive_power", "float64"), ("Voltage",
"float64"), ("Global_intensity", "float64"), ("Sub_metering_1",
"float64"), ("Sub_metering_2", "float64"), ("Sub_metering_3",
"float64")]

dfn = np.genfromtxt(filepath, missing_values=["?",np.nan], delimiter=';', dtype=types, encoding="UTF=8", names=True)

numeric_data = np.column_stack((dfn['Global_active_power'], dfn['Global_reactive_power'], dfn['Voltage'], 
                                dfn['Global_intensity'], dfn['Sub_metering_1'], dfn['Sub_metering_2'], dfn['Sub_metering_3']))

dfn = dfn[~np.isnan(numeric_data).any(axis=1)]

print(dfn[:5])

[('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.)
 ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.)
 ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.)
 ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0., 1., 17.)
 ('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.)]

Обрати всі записи, у яких загальна активна споживана потужність перевищує 5 кВт.

Pandas

In [25]:
%%time
filtered_p1 = dfp[dfp["Global_active_power"] > 5]
filtered_p1.head()

CPU times: total: 0 ns
Wall time: 7.61 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0

NumPy

In [31]:
%%time
filtered_n1 = dfn[dfn["Global_active_power"] > 5]
print(filtered_n1[:5])

[('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.)
 ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.)
 ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0., 1., 17.)
 ('16/12/2006', '17:35:00', 5.412, 0.47 , 232.78, 23.2, 0., 1., 17.)
 ('16/12/2006', '17:36:00', 5.224, 0.478, 232.99, 22.4, 0., 1., 16.)]
CPU times: total: 46.9 ms
Wall time: 21.3 ms

Обрати всі записи, у яких вольтаж перевищую 235 В.

Pandas

In [11]:
%%time
filtered_p2 = dfp[dfp["Voltage"] > 235]
filtered_p2.head()

CPU times: total: 219 ms
Wall time: 348 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0

NumPy

In [12]:
%%time
filtered_n2 = dfn[dfn["Voltage"] > 235]
filtered_n2[:5]

CPU times: total: 172 ms
Wall time: 174 ms

array([('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.),
       ('16/12/2006', '17:29:00', 3.52 , 0.522, 235.02, 15. , 0., 2., 17.),
       ('16/12/2006', '17:30:00', 3.702, 0.52 , 235.09, 15.8, 0., 1., 17.),
       ('16/12/2006', '17:31:00', 3.7  , 0.52 , 235.22, 15.8, 0., 1., 17.),
       ('16/12/2006', '17:38:00', 4.054, 0.422, 235.24, 17.6, 0., 1., 17.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

Обрати всі записи, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

Pandas

In [13]:
%%time
filtered_p3 = dfp[(dfp["Global_intensity"] >= 19) & (dfp["Global_intensity"] <= 20) & (dfp["Sub_metering_2"] > dfp["Sub_metering_3"])]
filtered_p3.head()

CPU times: total: 31.2 ms
Wall time: 17.7 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0

NumPy

In [14]:
%%time
filtered_n3 = dfn[(dfn["Global_intensity"] >= 19) & (dfn["Global_intensity"] <= 20) & (dfn["Sub_metering_2"] > dfn["Sub_metering_3"])]
print(filtered_n3[:5])

[('16/12/2006', '18:09:00', 4.464, 0.136, 234.66, 19. , 0., 37., 16.)
 ('17/12/2006', '01:04:00', 4.582, 0.258, 238.08, 19.6, 0., 13.,  0.)
 ('17/12/2006', '01:08:00', 4.618, 0.104, 239.61, 19.6, 0., 27.,  0.)
 ('17/12/2006', '01:19:00', 4.636, 0.14 , 237.37, 19.4, 0., 36.,  0.)
 ('17/12/2006', '01:20:00', 4.634, 0.152, 237.17, 19.4, 0., 35.,  0.)]
CPU times: total: 62.5 ms
Wall time: 62.5 ms

Обрати випадковим чином 500000 записів (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії.

Pandas

In [15]:
%%time
random_dfp = dfp.sample(n=500000)

mean_sub_metering_1 = random_dfp['Sub_metering_1'].mean()
mean_sub_metering_2 = random_dfp['Sub_metering_2'].mean()
mean_sub_metering_3 = random_dfp['Sub_metering_3'].mean()

print(f"Середнє значення Sub_metering_1: {mean_sub_metering_1:.3f}")
print(f"Середнє значення Sub_metering_2: {mean_sub_metering_2:.3f}")
print(f"Середнє значення Sub_metering_3: {mean_sub_metering_3:.3f}")

Середнє значення Sub_metering_1: 1.119
Середнє значення Sub_metering_2: 1.303
Середнє значення Sub_metering_3: 6.474
CPU times: total: 234 ms
Wall time: 240 ms

NumPy

In [16]:
%%time
random_indices = np.random.choice(len(dfn), size=500000, replace=False)
random_dfn = dfn[random_indices]

mean_sub_metering_1 = np.mean(random_dfn['Sub_metering_1'])
mean_sub_metering_2 = np.mean(random_dfn['Sub_metering_2'])
mean_sub_metering_3 = np.mean(random_dfn['Sub_metering_3'])

print(f"Середнє значення Sub_metering_1: {mean_sub_metering_1:.3f}")
print(f"Середнє значення Sub_metering_2: {mean_sub_metering_2:.3f}")
print(f"Середнє значення Sub_metering_3: {mean_sub_metering_3:.3f}")

Середнє значення Sub_metering_1: 1.123
Середнє значення Sub_metering_2: 1.299
Середнє значення Sub_metering_3: 6.460
CPU times: total: 266 ms
Wall time: 281 ms

Обрати ті записи, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

Pandas

In [ ]:
%%time
filtered_p5 = dfp[(dfp["Global_active_power"] > 6) & (dfp["Time"].apply(lambda x: x.hour) >= 18) & (dfp["Sub_metering_2"] > dfp["Sub_metering_1"]) & (dfp["Sub_metering_2"] > dfp["Sub_metering_3"])]

halfway = len(filtered_p5) // 2
first_half = filtered_p5[:halfway]
second_half = filtered_p5[halfway:]

first_half = first_half.iloc[::3]
second_half = second_half.iloc[::4]

result_p5 = pd.concat([first_half, second_half])

result_p5.head()

CPU times: total: 750 ms
Wall time: 957 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,2006-12-28,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,2006-12-28,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,2006-12-28,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0

NumPy

In [18]:
%%time
hours = np.array([int(t.split(":")[0]) for t in dfn["Time"]])
filtered_n5 = dfn[(dfn["Global_active_power"] > 6) & (hours >= 18) & (dfn["Sub_metering_2"] > dfn["Sub_metering_1"]) & (dfn["Sub_metering_2"] > dfn["Sub_metering_3"])]

halfway = len(filtered_n5) // 2
first_half = filtered_n5[:halfway]
second_half = filtered_n5[halfway:]

first_half = first_half[::3]
second_half = second_half[::4]

result_n5 = np.concatenate((first_half, second_half))

print(result_n5[:5])

[('16/12/2006', '18:05:00', 6.052, 0.192, 232.93, 26.2, 0., 37., 17.)
 ('16/12/2006', '18:08:00', 6.308, 0.116, 232.25, 27. , 0., 36., 17.)
 ('28/12/2006', '20:58:00', 6.386, 0.374, 236.63, 27. , 1., 36., 17.)
 ('28/12/2006', '21:02:00', 8.088, 0.262, 235.5 , 34.4, 1., 72., 17.)
 ('28/12/2006', '21:05:00', 7.23 , 0.152, 235.22, 30.6, 1., 73., 17.)]
CPU times: total: 1.58 s
Wall time: 1.7 s